.router-link-exact-active {
    font-weight: bold;
}

#app {
    font-family: 'Montserrat';
}

.btn-success,
.navbar .badge-success {
    background: #4eb888;
    border: none;
}


/* card product */

#card-product .card {
    border-radius: 15px;
}

#card-product .card-img-top {
    border-radius: 15px 15px 0px 0px;
}


/* food details */

.food-detail .breadcrumb {
    background-color: transparent;
    padding: 0;
}

.food-detail .breadcrumb-item.active {
    font-weight: bold;
    color: black;
}

.img-fluid {
    border-radius: 15px;
}