.router-link-exact-active {
    font-weight: bold;
}

#app {
    font-family: 'Montserrat';
}

.btn-success,
.navbar .badge-success {
    background: #4eb888;
    border: none;
}


/* card product */

#card-product .card {
    border-radius: 15px;
}

#card-product .card-img-top {
    border-radius: 15px 15px 0px 0px;
}